<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-4.1.xsd"
	default-autowire="byName">

	<!-- 激活@Controller模式 -->
	<!-- <mvc:annotation-driven /> -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
			<bean
				class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
			<bean id="fastJsonHttpMessageConverter"
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
				<!-- 解决FastJson循环引用的问题 -->
				<property name="features">
					<array value-type="com.alibaba.fastjson.serializer.SerializerFeature">
						<value>DisableCircularReferenceDetect</value>
					</array>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 自动扫描 -->
	<context:component-scan base-package="com.eno.web.note" />


	<!-- 配置数据源 -->
	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="com.mysql.jdbc.Driver" /> <property 
		name="url" value="jdbc:mysql://localhost:3306/mynote" /> <property name="username" 
		value="mynote" /> <property name="password" value="mynote" /> </bean> -->

	<!-- 配置数据源-1 -->
	<bean id="dataSourceOne"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/mynote" />
		<property name="username" value="mynote" />
		<property name="password" value="mynote" />
	</bean>

	<bean id="oneSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceOne" />
		<property name="configLocation">
			<value>WEB-INF/mybatis.xml</value>
		</property>
		<property name="mapperLocations">
			<list>
				<value>classpath:com/eno/web/note/mapper/one/**/*-mapper.xml</value>
			</list>
		</property>
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="oneSqlSessionFactory"></property>
		<property name="basePackage" value="com.eno.web.note.mapper.one" />
	</bean>
	
	<!-- 配置数据源-2 -->
	<bean id="dataSourceTwo"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/mytest" />
		<property name="username" value="mytest" />
		<property name="password" value="mytest" />
	</bean>
	<bean id="twoSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceTwo" />
		<property name="configLocation">
			<value>WEB-INF/mybatis.xml</value>
		</property>
		<property name="mapperLocations">
			<list>
				<value>classpath:com/eno/web/note/mapper/two/**/*-mapper.xml</value>
			</list>
		</property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="twoSqlSessionFactory"></property>
		<property name="basePackage" value="com.eno.web.note.mapper.two" />
	</bean>



	<!-- 配置SqlSessionFactoryBean -->
	<!-- <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
		<property name="dataSource" ref="dataSource" /> <property name="configLocation" 
		value="WEB-INF/mybatis.xml" /> <property name="mapperLocations"> <list> 表示在com.hoo.resultmap包或以下所有目录中，以-resultmap.xml结尾所有文件 
		<value>classpath:com/eno/web/note/mapper/**/*-mapper.xml</value> </list> 
		</property> </bean> -->




	<!-- 支持上传文件 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="maxUploadSize" value="10485760000"></property>
		<property name="maxInMemorySize" value="40960"></property>

	</bean>

	<!-- <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> <property 
		name="basePackage" value="com.eno.web.note.mapper" /> </bean> -->
</beans>